<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<bean id="customerService" class="com.spring.aop.CustomerService">
		<property name="name" value="Venugopal Poli" />
		<property name="url" value="http://www.venugopal.com" />
	</bean>
	
	<!-- bean id="beforeMethodTest" class="com.spring.aop.BeforeMethodTest" />
 
	<bean id="customerServiceProxy" 
                 class="org.springframework.aop.framework.ProxyFactoryBean">
 
		<property name="target" ref="customerService" />
 
		<property name="interceptorNames">
			<list>
				<value>beforeMethodTest</value>
			</list>
		</property>
	</bean-->
	
	<!-- bean id="afterMethodTest" class="com.spring.aop.AfterReturnTest" />
 
	<bean id="customerServiceProxy" 
                 class="org.springframework.aop.framework.ProxyFactoryBean">
 
		<property name="target" ref="customerService" />
 
		<property name="interceptorNames">
			<list>
				<value>afterMethodTest</value>
			</list>
		</property>
	</bean-->
	
	<!--bean id="afterThrowsTest" class="com.spring.aop.AfterThrowsTest" />
 
	<bean id="customerServiceProxy" 
                 class="org.springframework.aop.framework.ProxyFactoryBean">
 
		<property name="target" ref="customerService" />
 
		<property name="interceptorNames">
			<list>
				<value>afterThrowsTest</value>
			</list>
		</property>
	</bean-->
	
	<bean id="aroundMethodTest" class="com.spring.aop.AroundMethodTest" />
 
	<bean id="customerServiceProxy" 
                class="org.springframework.aop.framework.ProxyFactoryBean">
 
		<property name="target" ref="customerService" />
 
		<property name="interceptorNames">
			<list>
				<value>aroundMethodTest</value>
			</list>
		</property>
	</bean>
	
	
 
</beans>