<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="sampleSender" class="com.spring.jms.mq.SampleSender">
    	<property name="jmsTemplate" ref="jmsTemplate"/>
    </bean>

	<bean id="jmsConnectionFactory" class="com.ibm.mq.jms.MQQueueConnectionFactory">
        <property name="hostName" value="whj1002xhz35j.whitley.jlrint.com" />
        <property name="port" value="1414" />
        <property name="queueManager" value="MOCK_QUEUEMANAGER" />
        <property name="channel" value="QA.IPLM" />
        <property name="transportType" value="1" />
    </bean>
    
    <bean id="jmsDestinationOut" class="com.ibm.mq.jms.MQQueue">
        <constructor-arg value="ENOVIA.ECO.OUT" />
    </bean>
    
    <bean id="jmsDestinationIn" class="com.ibm.mq.jms.MQQueue">
        <constructor-arg value="IPOINT.PARTWEIGHT.IN" />
    </bean>

	<bean id="springConnectionFactory"
            class="org.springframework.jms.connection.UserCredentialsConnectionFactoryAdapter">
        <property name="targetConnectionFactory" ref="jmsConnectionFactory" />
        <property name="username" value="vpoli" />
        <property name="password" value="" />
    </bean>
    
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="springConnectionFactory" />
        <property name="defaultDestination" ref="jmsDestinationOut" />
    </bean>
    
    <!-- Message driven bean -->
    <bean id="sampleListener" class="com.spring.jms.mq.SampleListener"/>

    <!-- and this is the message listener container -->
    <bean id="springJmsContainer" 
    		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="springConnectionFactory" />
        <property name="destination" ref="jmsDestinationIn" />
        <property name="messageListener" ref="sampleListener" />
    </bean>

</beans>